@import url("https://fonts.googleapis.com/css2?family=Alkatra&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700,800,900");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.intro {
  background: #161419;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
}

.slider {
  background: rgb(97, 105, 109);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  overflow-y: hidden;
}

.intro-text {
  color: #161419;
  font-family: "Heebo", sans-serif;
  font-size: 3rem;
  overflow-y: hidden;
}

.hide {
  color: #fafafa;
  overflow: hidden;
}

.hide span {
  transform: translateY(100%);
  display: inline-block;
}

.scroll-down2 {
  width: 30px;
  height: 50px;
  box-shadow: 2px 1px 26px -6px #f60202;
  border: 2px solid #f60202;
  border-radius: 50px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}
.scroll-down2:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 20px;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  transform: translateX(-50%);
  background: #b01f1f;
  animation: scrollDown2 1.5s ease infinite;
}
.scroll-down2:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 5px;
  width: 6px;
  height: 15px;
  border-radius: 3px;
  transform: translateX(-50%);
  background: #b01f1f;
}

@keyframes scrollDown2 {
  0% {
    transform: translate(-50%, 0px);
    opacity: 0;
  }
  50% {
    transform: translate(-50%, 8px);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, 16px);
    opacity: 0;
  }
}
.button-scroll {
  height: auto;
  padding-top: 10vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  background-color: #0b0b0b;
  color: white;
}

.h3-top {
  font-family: "Alkatra";
}

.container-high {
  height: 100vh;
  width: 100vw;
  background-image: url("../imagens/wallpaper-python-2.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.content-high {
  padding-top: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 15px 20px;
  padding-left: 10vw;
}
.content-high .h1-high {
  font-family: "DM Sans", sans-serif;
  overflow-y: hidden;
}
.content-high .p-high {
  font-family: "DM Sans", sans-serif;
  overflow-y: hidden;
}

.button-l {
  border: 1px solid #161419;
  width: 10vw;
}

.cv {
  font-family: "Poppins", sans-serif;
  border: 1px solid #161419;
  padding: 10px;
  border-radius: 10px;
  background-color: #b01f1f;
  color: white;
  transition: 0.8s;
}
.cv:hover {
  background-color: #b01f1f;
  color: #fafafa;
  transition: 0.8s;
  transform: scale(0.9);
}

.contact {
  font-family: "Poppins", sans-serif;
  border: 3px solid #b01f1f;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  font-weight: 500;
  border-radius: 10px;
  background-color: #161419;
  color: #f60202;
  transition: 0.8s;
}
.contact:hover {
  background-color: #b01f1f;
  color: #fafafa;
  transition: 0.8s;
  transform: scale(0.9);
}

.navbar {
  background-color: #161419;
  overflow-y: hidden;
  border-bottom: 1px solid #D04242;
}

.nav-all {
  height: 12vh;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  overflow-y: hidden;
}

.h3-top {
  width: 200px;
  overflow-y: hidden;
}

.h3-top:hover {
  text-decoration: underline;
  cursor: pointer;
}

.nav-itens {
  width: 50vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  overflow-y: hidden;
}
.nav-itens a {
  color: white;
}
.nav-itens a:hover {
  background-color: rgba(105, 105, 105, 0.801);
  color: #D04242;
  border-radius: 20px;
}

.second-container {
  height: 86vh;
  width: 100vw;
  display: flex;
  align-items: start;
  background-color: #161419;
  color: #D04242;
}

.contain-middle {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.h1-middle {
  font-family: "Poppins", sans-serif;
}

.p-middle {
  font-family: "Poppins", sans-serif;
  width: 42vw;
}

/*# sourceMappingURL=style.css.map */
