@media (max-width: 992px){

    .nav-all{
        height: 6vh !important;
    }

    .collapse:not(.show) {
        display: flex !important;
    }

    .navbar-nav{
        flex-direction: row !important;
        
    }

    .nav-itens .nav-link{
        padding: 0 !important;
        
    }

    .nav-itens{
        gap: 40px !important;
    }
    
}

@media (max-width: 789px){
    .nav-itens{
        display: none !important;
    }
    
    .navbar{
        height: 10vh !important;
    }


    .h3-top{
        width: auto !important;
        padding-bottom: 1vh !important;
    }
}