@media (max-width: 992px){

    .nav-all{
        height: 6vh !important;
    }

    .collapse:not(.show) {
        display: flex !important;
    }

    .navbar-nav{
        flex-direction: row !important;
        
    }

    .nav-itens .nav-link{
        padding: 0 !important;
        
    }

    .nav-itens{
        gap: 40px !important;
    }
    
}

@media (max-width: 789px){
    .nav-link{
        display: none !important;
    }
    
    .nav-all{
        
    }
    
    .navbar{
        height: 8vh !important;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-itens{
        width: 40vw !important;
    }

    .navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl
    {
    display: flex !important;
    align-items: center !important;
    align-content: center !important;
    flex-wrap: wrap !important;
    flex-direction: column-reverse !important;
}


    .h3-top{
        width: auto !important;
        padding-bottom: 1vh !important;
    }
}