.skills-container{
    background-color: #161419;
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .box-container{
        width: 90%;
        height: 100vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 50px;

        .box-skills{
            height: auto;
            display: flex;
            width: 30vw;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;
            // border: 2px solid #D04242;
            border-radius: 20px;
            background-color: #fafafa;
            transition: 0.8s;
            box-shadow: 1px 4px 19px 4px rgba(255,255,255,0.98);

            &:hover{
                box-shadow: none;
                transition: 0.8s;
                transform: scale(0.9);
            }

            .h3-skills{
                font-family: 'Poppins', sans-serif;
                font-size: 1.6rem;
                text-align: center;
                height: auto;
                margin-bottom: 0 !important;
                overflow-y: hidden;
                color: #151C28;
                text-shadow: 2rgb(66, 90, 208)4242;
            }

            .skills{
                gap: 25px;
                height: 40vh;
                width: 25vw;
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                background-color: #fafafa;

                .p-skill{
                    font-family: 'DM Sans', sans-serif;
                    color: #151C28;
                }

                span{
                    font-family: 'DM Sans', sans-serif;
                    color: #878989;
                }
            }
        }
    }
}



