.skills-container{
    background-color: #161419;
    height: auto;
    width: 100%;
    display: grid;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    .box-container{
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid: wrap;
        justify-content: center;
        justify-items: center;
        align-content: center;
        align-items: center;
        gap: 50px;
        padding: 10vh;

        .box-skills{
            min-height: 34vh !important;
            max-height: 44vh !important;
            height: auto !important;
            display: grid;
            padding: 5vh;
            width: 25vw;
            // flex-direction: column;
            justify-content: center;
            justify-items: center;
            align-items: center;
            gap: 10px;
            // border: 2px solid #D04242;
            border-radius: 20px;
            background-color: #161419;;
            transition: 0.8s;
            box-shadow: -1px 7px 12px -1px rgba(255,255,255,0.75);

            &:hover{
                box-shadow: none;
                transition: 0.8s;
                transform: scale(0.9);
            }

            .h3-skills{
                font-family: 'Poppins', sans-serif;
                font-size: 1.6rem;
                text-align: center;
                height: auto;
                margin-bottom: 0 !important;
                overflow-y: hidden;
                color: #fafafa;
                text-shadow: 2rgb(66, 90, 208)4242;
            }

            .skills{
                gap: 20px 15px;
                height: auto;
                width: 20vw;
                display: grid;
                grid-template-columns: 100px 100px;
                justify-content: center;
                // justify-items: center;
                // align-content: center;
                background-color: #161419;

                .p-skill{
                    font-size: 0.8rem;
                    display: grid;
                    height: auto;
                    width: auto;
                    font-family: 'DM Sans', sans-serif;
                    color: #fafafa;
                    margin-bottom: 0 !important;
                }

                span{
                    font-family: 'DM Sans', sans-serif;
                    color: #878989;
                }
            }
        }
    }
}


@media (max-width: 1290px){
    .box-container{
        grid-template-columns: 1fr !important;}

.box-skills{
    width: 35vw !important;
}

.skills{
    width: 30vw !important;
    gap: 51px 15px !important;
}
}


@media (max-width: 900px){
    
}