@import url('https://fonts.googleapis.com/css2?family=Alkatra&display=swap');
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700,800,900");
@import 'fontes.scss';
@import 'intro.scss';
@import 'scroll.scss';
@import 'typing.scss';
@import 'navbar.scss';
@import 'navrespos.scss';
@import 'skills.scss';
@import'card.scss';
@import 'navdown.scss';
@import 'buttonmoon.scss';
@import 'cleanmode.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body{
  background-color: #0b0b0b;
  color: white;
}

.h3-top{
  font-family: 'DM Sans', sans-serif;
  transition: 0.8s;
  &:hover{
    color: #D04242;
    transition: 0.8s;
    transform: scale(0.9);
  }
}

.container-high{
  height: 100vh;
  width: 100vw;
  background-image: url('../imagens/wallpaper-python-2.png');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  
}



.content-high{
  padding-top: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 15px 20px;
  padding-left: 10vw;

  .h1-high{
    font-family: 'DM Sans', sans-serif;
    overflow-y: hidden;
  }
  .p-high{
    font-family: 'DM Sans', sans-serif;
    overflow-y: hidden;
  }
}

.button-l{
  border: 1px solid #161419;
  min-width: 10vw !important;
  width: auto !important;
}
.cv{
  font-family: 'Poppins', sans-serif;
  border: 1px solid #161419;
  padding: 10px;
  border-radius: 10px;
  background-color: #b01f1f;
  color: white;
  transition: 0.8s;
  &:hover{
    background-color: #b01f1f;
    color: #fafafa;
    transition: 0.8s;
    transform: scale(0.9);
  }
}

.contact{
  font-family: 'Poppins', sans-serif;
  border: 3px solid #b01f1f;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  font-weight: 500;
  border-radius: 10px;
  background-color: #161419;
  color: #fafafa;
  transition: 0.8s;

  &:hover{
    background-color: #b01f1f;
    color: #fafafa;
    
    transition: 0.8s;
    transform: scale(0.9);
  }
}

.navbar{
  background: rgb(22,20,25);
  background: linear-gradient(180deg, rgba(22, 20, 25, 0.429) 51%, rgba(22,20,25,0) 74%);
  overflow-y: hidden;
  border-bottom: 1px solid #b01f1f;
}

.nav-all{
  height: 12vh;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  overflow-y: hidden;
  
  
  
}

.h3-top{
  width: 200px;
  color: #fafafa !important;
  overflow-y: hidden;
  margin-bottom: 0 ;
}

.h3-top:hover{
  text-decoration: none ;
  cursor: pointer;
  color: #D04242 !important;
  
}


.nav-itens{
  font-family: 'Poppins', sans-serif;
  width: 76vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
  overflow-y: hidden;

  .nav-link{
    color: white;
    width: auto;
    font-weight     : 500;
    padding         : 12px 30px;
    text-align: center;
    background-color: transparent;
    color           : white;
    // border-radius   : 10px;
    // border-bottom          : 2px solid white;
    transition      : 1.8s;
  }

  .nav-link:hover{
    // background-color: #D04242;
    color: #D04242;
    // border-radius: 20px;
    // background   : #D04242;
    // border         : 2px solid white;
    // border-bottom          : 2px solid #D04242;
    // border-radius: 5px;
    // box-shadow   : 0 0 5px #D04242,
    //             0 0 25px #D04242,
    //             0 0 50px #D04242,
    //             0 0 100px #D04242;
    font-weight    : 500;
    text-decoration: none;
    transition     : 1.0s;
    transform: scale(1.2);
  }
}

// .container-card{
//   display: flex;
//   justify-content: center;
//   align-content: center;
//   flex-wrap: wrap;
//   min-height: 80vh;
//   z-index: 1;
//   gap: 10px 15px;
// }
// .card{
//   position:relative;
//   width: 300px;
//   height: 400px;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   background: darkgrey;
//   overflow: hidden;
//   border-radius: 20px;
//   box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
//   background: rgba(255,255,255,0.1);
//   border-top: 1px solid rgba(255,255,255,0.5);
//   border-left: 1px solid rgba(255, 255,255,0.8);
//   backdrop-filter: blur(5px);
// }

// .content{
//   padding: 20px;
//   text-align: center;
//   transform: translateY(100px);
//   opacity: 0;
//   transition: 0.5s;
// }

// .container-card .card:hover .content{
//   transform: translatey(0px);
//   opacity: 1;
// }

.second-container{
    height: auto;
    width: 100vw;
    display: flex;
    align-items: start;
    flex-wrap: wrap;
    background-color: #161419;
    

}



.contain-middle{
  width: 100vw;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  
}


.h1-middle{
  font-family: 'Poppins', sans-serif;
  color: #b01f1f;
  
}

.p-middle{
  font-family: 'Poppins', sans-serif;
  width: 37vw;
  color: #fafafa;
  
}

.p-middle1{
  font-family: 'Poppins', sans-serif;
  
  color: #fafafa;
  font-size: 1.0rem;
  text-align: center;
  width: 42vw;
  border-bottom: 3px solid #f60202;
}


.container-down{
  width: 100vw;
  background-color: #161419;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .text-down{
    width: 50%;
    height: auto;
    padding-left: 10vw;

    .h3-know{
      font-family: 'Poppins', sans-serif;
      font-weight: bold;
      color: #D04242;
      height: auto;
      overflow: hidden;
    }

    .container-icons{
      height: auto;
      width: auto;
      gap: 15px;
      display: flex;
      flex-direction: row;
      justify-content: start;
      align-items: start;
      background-color: #fafafa00;
    }
  }


    .me{
      margin-left: 15vw;
      height: 45vh;
      width: auto;
      overflow: hidden !important;
    }
  
}


a {
  text-decoration: none !important;
}

.icons{
  transition: 0.6s !important;

  &:hover{
    transition: 0.6s !important;
    transform: scale(0.9) !important;
    color: #b01f1f !important;
  }
}








// RESPONSIVIDADE
@media (max-width: 1111px){
  .container-high{
    height: 100vh;
    width: 100vw;
    background-image: url('../imagens/wallpaper-python-2.png');
    background-repeat: no-repeat;
    background-position: center right;
    background-size: cover;
  }
}

@media (max-width: 1000px){
  .p-middle1{
    width: 65vw ;
  }
}

@media (max-width: 886px){
  .container-high{
    background-image: url('../imagens/wallpaper-python-2.png');
    background-position-x: 30%;
    background-position-y: 20%;
    // background-size: 80% 120%;
  }
}

@media (max-width:750px){
  .container-down{
    flex-direction: column-reverse !important;
    justify-content: center; 
    align-items: center;
  }

  .me{
    margin: 0 !important;
    padding-bottom: 8vh;
  }

  .container-down .text-down{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: auto !important;
    padding: 0px !important;
  }
  
  .p-middle{
    width: 92vw;
    text-align: center !important;
  }

}

@media (max-width: 600px){
  .p-middle1{
    width: 90vw;
  }

  .button-scroll{
    padding-top: 10vh !important;
  }

  .navigation{
    width: auto;
  }
}


