@import url('https://fonts.googleapis.com/css2?family=Alkatra&display=swap');
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700,800,900");
@import 'fontes.scss';
@import 'intro.scss';
@import 'scroll.scss';
@import 'typing.scss';


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body{
  background-color: #0b0b0b;
  color: white;
}

.h3-top{
  font-family: 'Alkatra';
}

.container-high{
  height: 100vh;
  width: 100vw;
  background-image: url('../imagens/wallpaper-python-2.png');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  
}
.content-high{
  padding-top: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 15px 20px;
  padding-left: 10vw;

  .h1-high{
    font-family: 'DM Sans', sans-serif;
    overflow-y: hidden;
  }
  .p-high{
    font-family: 'DM Sans', sans-serif;
    overflow-y: hidden;
  }
}

.button-l{
  border: 1px solid #161419;
  width: 10vw;
}
.cv{
  font-family: 'Poppins', sans-serif;
  border: 1px solid #161419;
  padding: 10px;
  border-radius: 10px;
  background-color: #b01f1f;
  color: white;
  transition: 0.8s;
  &:hover{
    background-color: #b01f1f;
    color: #fafafa;
    transition: 0.8s;
    transform: scale(0.9);
  }
}

.contact{
  font-family: 'Poppins', sans-serif;
  border: 3px solid #b01f1f;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  font-weight: 500;
  border-radius: 10px;
  background-color: #161419;
  color: #f60202;
  transition: 0.8s;

  &:hover{
    background-color: #b01f1f;
    color: #fafafa;
    transition: 0.8s;
    transform: scale(0.9);
  }
}

.navbar{
  background-color: #161419;
  overflow-y: hidden;
  border-bottom: 1px solid #D04242;
}

.nav-all{
  height: 12vh;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  overflow-y: hidden;
  
  
  
}

.h3-top{
  width: 200px;
  overflow-y: hidden;
}

.h3-top:hover{
  text-decoration: underline ;
  cursor: pointer;
  
}

.nav-itens{
  width: 50vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  overflow-y: hidden;

  a{
    color: white;
  }

  a:hover{
    background-color: rgba(105, 105, 105, 0.801);
    color: #D04242;
    border-radius: 20px;
  }
}

// .container-card{
//   display: flex;
//   justify-content: center;
//   align-content: center;
//   flex-wrap: wrap;
//   min-height: 80vh;
//   z-index: 1;
//   gap: 10px 15px;
// }
// .card{
//   position:relative;
//   width: 300px;
//   height: 400px;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   background: darkgrey;
//   overflow: hidden;
//   border-radius: 20px;
//   box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
//   background: rgba(255,255,255,0.1);
//   border-top: 1px solid rgba(255,255,255,0.5);
//   border-left: 1px solid rgba(255, 255,255,0.8);
//   backdrop-filter: blur(5px);
// }

// .content{
//   padding: 20px;
//   text-align: center;
//   transform: translateY(100px);
//   opacity: 0;
//   transition: 0.5s;
// }

// .container-card .card:hover .content{
//   transform: translatey(0px);
//   opacity: 1;
// }

.second-container{
    height: 86vh;
    width: 100vw;
    display: flex;
    align-items: start;
    background-color: #161419;
    

}

.contain-middle{
  width: 100vw;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  
}

.h1-middle{
  font-family: 'Poppins', sans-serif;
  color: #D04242;
  
}

.p-middle{
  font-family: 'Poppins', sans-serif;
  width: 42vw;
  color: #D04242;
  
}

.p-middle1{
  font-family: 'Poppins', sans-serif;
  width: 42vw;
  color: #D04242;
  text-align: center;
  width: 60vw;
  border-bottom: 3px solid #f60202;
}